<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Página Não Encontrada</title>
</head>
<body>
    <div class="container">
    <h1>404 - Página Não Encontrada</h1><br>
    {% include "Bases/flash.html"%}
    <a class="pure-button" href="{{ url_for('bp_inicio.index') }}">Voltar para a página inicial</a>
</div>
{% include "Bases/rodape.html"%}

</body>
</html>
