<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro inesperado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
>
    <div class="container">
        <p>
            <center><b>Aconteceu um erro inesperado!</b></center>
        </p>
        {% include "Bases/flash.html"%}
        <br>

        <a class="pure-button" href="{{ url_for('bp_inicio.index') }}">Voltar para a página inicial</a>

    </div>

    {% include "Bases/rodape.html"%}

</body>
</html>
