<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Autor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}">
</head>

<body>

    <!-- Cabeçalho -->
    <header>
        <h1 class="centralizar">Biblioteca Igao - Editar Autor</h1>
    </header>

    <!-- Conteúdo Principal -->
    <main>
        <!-- Mensagens Flash -->
        {% include "Bases/flash.html"%}

        
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>
        <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Outros Links</span><br><br>

        {% include "Bases/sidenav.html"%}
        <br>
        <a href=" {{ url_for('bp_inicio.index')}}" class="pure-button pure-button-purple">Home</a>
        <br>

        <!-- Formulário de Edição de Autor -->
        <div class="super-centralizar">
            <div class="formulario">
                <h1 class="centralizar">Formulário de Edição ✏️</h1>
                
                <form action="{{ url_for('bp_autores.edit_autor', id=autor.id) }}" method="POST" class="pure-form pure-form-aligned">
                    <fieldset>
                        <!-- Campo de entrada para o nome do autor -->
                        <div class="pure-control-group">
                            <label for="nome"><h3>Nome</h3></label>
                            <input type="text" id="nome" name="nome" class="pure-input-1-1" value="{{ autor.nome }}" required>
                        </div>

                        <!-- Campo de entrada para a data de nascimento -->
                        <div class="pure-control-group">
                            <label for="data_nascimento"><h3>Data de Nascimento</h3></label>
                            <input type="date" id="data_nascimento" name="data_nascimento" class="pure-input-1-1" value="{{ autor.data_nascimento }}" required>
                        </div>

                        <!-- Campo de entrada para a nacionalidade -->
                        <div class="pure-control-group">
                            <label for="nacionalidade"><h3>Nacionalidade</h3></label>
                            <input type="text" id="nacionalidade" name="nacionalidade" class="pure-input-1-1" value="{{ autor.nacionalidade }}" required>
                        </div>

                        <!-- Botão para salvar alterações -->
                        <div class="pure-control-group">
                            <label></label>
                            <button type="submit" class="pure-button pure-button-primary pure-input-1-1">Salvar Alterações</button>
                        </div>
                        <div class="pure-control-group">
                            <label></label>
                            <a class="pure-button pure-button-secondary" href="{{ url_for('bp_autores.view_autores') }}">Voltar para a lista de autores</a>
                        </div>
                    </fieldset>
                </form>
                
            </div>
        </div>
    </main>

    <!-- Rodapé -->
    {% include "Bases/rodape.html"%}

</body>

</html>
