{% extends 'core/base.html' %}{% block content %}<h2>Empréstimos</h2>
<form method="post" class="formulario">{% csrf_token %}{{ form.as_p }}<button>Registrar empréstimo</button></form>
<div class="tabela-wrap">
    <table>
        <tr>
            <th>Usuário</th>
            <th>Livro</th>
            <th>Prevista</th>
            <th>Devolvido</th>
            <th>Ações</th>
        </tr>
        {% for e in emprestimos %}
        <tr>
            <td>{{ e.usuario }}</td>
            <td>{{ e.livro }}</td>
            <td>{{ e.data_devolucao_prevista }}</td>
            <td>{{ e.data_devolucao_real|default:'Não' }}</td>
            <td class="acoes">{% if not e.data_devolucao_real %}<a href="{% url 'devolver' e.pk %}">Devolver</a>{% endif %}
                <a href="{% url 'gerar_multa' e.pk %}">Gerar multa</a> <a href="{% url 'excluir' 'emprestimo' e.pk %}">Excluir</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Nenhum empréstimo.</td>
        </tr>{% endfor %}
    </table>
</div>{% endblock %}