{% extends 'core/base.html' %}

{% block title %}Livros{% endblock %}

{% block content %}
<h2>Livros cadastrados</h2>

<p>
<p><a class="button" href="{% url 'adicionar' 'livro' %}">Adicionar livro</a></p>

</p>

<div class="tabela-wrap">
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>ISBN</th>
                <th>Autor</th>
                <th>Categoria</th>
                <th>Total</th>
                <th>Disponíveis</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for livro in livros %}
            <tr>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.isbn }}</td>
                <td>{{ livro.autor.nome|default:"Desconhecido" }}</td>
                <td>{{ livro.categoria.nome|default:"Desconhecida" }}</td>
                <td>{{ livro.quantidade_total }}</td>
                <td>{{ livro.quantidade_disponivel }}</td>
                <td class="acoes">
                    <a href="{% url 'editar' 'livro' livro.pk %}" class="button">Editar</a>
                    <a href="{% url 'excluir' 'livro' livro.pk %}" class="button">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">Nenhum livro cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}